APP_NAME=QTQD API
APP_ENV=production
DATABASE_URL=postgresql+psycopg://postgres.[REF]:[SENHA]@aws-0-us-east-1.pooler.supabase.com:6543/postgres
SUPABASE_URL=https://SEU-PROJETO.supabase.co
SUPABASE_ANON_KEY=cole-aqui-a-chave-publica
SUPABASE_SERVICE_ROLE_KEY=cole-aqui-a-chave-service-role
ADMIN_TOKEN=defina-um-token-forte
CORS_ORIGINS=https://seu-projeto.vercel.app
FRONTEND_CLIENT_URL=https://seu-projeto.vercel.app/cliente
FRONTEND_ADMIN_URL=https://seu-projeto.vercel.app/admin
VERCEL_PROJECT_URL=https://seu-projeto.vercel.app
